{% extends 'base_accounts.html' %}

{% block title %}Restablece tu contraseña{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Restablece tu contraseña</h3>
          <p>Ingresa tu correo y te enviaremos un link para reiniciar tu contraseña.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
